body {
  font-family: "inter";
  background-color: rgba(255, 244, 244, 1);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: auto;
  overflow: hidden;
}

.content {
  background: white;
  overflow: hidden;
  width: 800px;
  height: 500px;
  border-radius: 20px;
}

.upper > .test {
  margin-top: 50px;
  margin-bottom: 50px;
  background: red;
  border-radius: 20px;
}
